#logo{
    display: flex;
    flex-direction: row;
    padding-left:2px ;
    margin-top:10px;

    
}
 #logo img{
    height:50px ;
    width: 50px;
    border-radius:20px ;
    margin-left:2rem ;
   
    
}
#admin{
    margin-left:2rem;
    margin-bottom:2rem ;

}
.recherche img{
    height:2rem ;
    width:1.2rem ;
    padding-right:9px ;
     margin-left:1rem ;
     padding-top:5px ;
    

}
.recherche{
    display: flex;
    flex-direction: row;
    margin-left:0.5rem;
    /* border: solid 2px gray; */
    width:15% ;
    border-radius:5px ;
    margin-top:2rem ;
    




}
span{
    background-color:#40474E;;
}
.recherche input{
     border: solid 2px #474E57;
    height:2.4rem ;
    background-color: #40474E;
    color: #8E939B;
    border-radius:5px ;
    font-size:1em ;
    padding-left:13px ;


    
}
.prenom{
   
  border-top: solid 2px gray;
    border-bottom: solid 2px gray; 
    width:90% ;
     margin-left:2rem; 
    height:8vh ;


}
#image img{
    width: 40px;
    height: 40px;
    border-radius:40px;
     
    margin-top:1em ;
    

}
#image{
    display: flex;
    flex-direction: row;
    height:80%;
    width: 80%;


}
#image p{
    margin-top:2em ;
    margin-left:1em ;
}
nav{
    background-color: #343A40;
    border-right:solid 2px gray ;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%; 
    height: 100vh;
    z-index:100;
    transform: translateX(-100%);

}
body{
    color: #8E939B;
    transition:transform 0.3s ease ;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin:0 ;
    
}
body.show_nav{
    transform: translateX(20%);
    width: 90%;

}
.dash{
    display: flex;
}
